<div class="container">
<!-- 
  <div class="row" -->

<table class="table"> 

  
    <tr *ngFor = "let photos of photos;index as i">
        <!-- <td>{{photos.albumId}}</td>
        <td>{{photos.id}}</td>
        <td>{{photos.title}}</td>
        <td>{{photos.url}}</td> -->
        <td><img [src]='photos.thumbnailUrl'/></td>
        <td><img [src]='photos.thumbnailUrl'/></td>
        <td><img [src]='photos.thumbnailUrl'/></td>
        <td><img [src]='photos.thumbnailUrl'/></td>
      </tr>

</table>

</div>
